
      .login-form {
        max-width: 300px;
        position: relative;
        left: 50px
      }


      .login-form-button {
        width: 50%;
      }
      .login{
        padding-top:15px;
        border-radius: 5px;
        margin-top:30px;
        transform: translateX(-50%);
        width:400px;
        height:300px;
        background-color: white;
        z-index : 1

      }
      #iconuet{
        max-height: 75px
      }
